:root{
    --cor-principal: rgb(240, 31, 240);
    --cor-secundaria: rgb(223, 200, 200); 
    --botao-azul: rgb(214, 109, 214); 
    --cor-fundo: rgb(223, 201, 201); 


}
body {
    background-color: var(--cor-fundo);
}
.principal{
    background-image:url("Background.png");
    background-repeat: no-repeat;
    background-size: container;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50%;
}
.container__botao{
    background-color: var(--cor-fundo);
    border-radius: 5px;
    padding: 1em 
    color var(--cor-principal);
    display:block;
}

    .container__botao2{
        background-color: transparent;
        border: 2px solid white;
    }


